@model IEnumerable<Post>

@{
    ViewData["Title"] = "Blog Posts";
}

@* <h2 class="text-center my-4">@ViewData["Title"]</h2> *@

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var post in Model)
    {
        <div class="col">
            <div class="card ">
                <h3 class="card-header fs-5">@post.Title</h3>
                <div class="card-body">
                    <h5 class="card-title text-muted">@post.Author</h5>
                </div>

                <img src="@post.FeatureImagePath" class="card-img-top" alt="@post.Title" />

                <div class="card-body">
                    <p class="card-text">
                        @post.Content.Substring(0, Math.Min(post.Content.Length, 100))...
                    </p>
                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@post.Id" class="card-link">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    Posted @post.PublishedDate.ToString("MMMM dd, yyyy")
                </div>
            </div>
        </div>
    }
</div>
